@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,500,400,600,700,800,900&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
       overflow: hidden;
       float:left;
       top:0;
       left:0;
       padding: 10px;
       width:100%;
       position: fixed;
       left: 0;
       z-index: 9999;
       transition: 0.6s;  
}

li{
    list-style: none;    
}

a{
  color:black;
  text-decoration: none;    
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
}


.nav-link{
    transition: 0.7 ease;
}

.nav-logo:hover , .nav-link:hover{
    color:#20B2AA;   
}

.menuIcon{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:black;
}

header.sticky{
        background-color:#F8F8FF; 
        padding: 10px 20px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

section{
    padding: 40px;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.row .colum{
    position: relative;
    width:60%;
}

.row .colum .imgBox{
     position: relative;
     width:100%;
     min-height:550px;
     margin-left:7%;
}

.row .colum .imgBox img{
    position: absolute;
    width:100%;
    height:600px;
    top:0;
    left:0;
    object-fit: cover;
}
        
.row .colum .top-section-txet {
            text-align:center;
            position: absolute;
            min-height: 500px;
            width: 500px;
            font-size: 30px;
            line-height: 30px;
            top:70%;
            transform:translateY(-50%);
            margin-left: 50px;
        }

.row .colum .top-section-txet .majar .typing{
            color:#20B2AA;
            font-weight: bold;   
            font-size: 2.5rem;
            
        }

.btn{
        width: 35%;  
        text-align:center;
        display: inline-block;
        padding: 10px 25px;
        color: black;
        background-color: #20B2AA;
        border-radius: 20px;
        cursor: pointer;
        background: transparent; 
        font-weight: bold;
        position: relative;
        overflow: hidden;

        }
        
.span{
            background: #20B2AA;
            height: 100%;
            width: 0;
            position: absolute;
            left: 0;
            bottom: 0;
            border-radius: 20px;
            z-index: -1;
            transition: 0.5s;
            
        }
          
.btn:hover span{
           width: 100%;
        }

.btn:hover{
            border:none;
        }
        
.about{
       background: url('/assets/img/aboutBackground.png');
       background-size: cover;
       background-repeat: no-repeat;
       background-position: left;
       width: 100%;
       height: 100%;
}

.row .colum .box-text{
    
    margin-left: 20px;
    color: black;
    min-height:50%;
    width: 600px;
    font-size: 20px;
    font-weight: 300;
    background-color: #fff; 
    padding:35px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}

table{
      line-height: 35px;  
      border-collapse: separate;
      border-spacing: 10 16px;
     
    }

th{
            color: #2F4F4F;
        }

.titleText{
    color: #111;
    font-size: 2.5em;
    font-weight: 300;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 15px;
   
  
}

.titleText span{
    color: #20B2AA;
    font-weight: 700;
    font-size: 2em;
}

 .title{
            text-align: center;
            font-family: Gill Sans, sans-serif;
            color: #111;
            font-size: 20px; 
            text-align: center;
        }

.skills .content{
    width: 100%;
    text-align: center;
    align-content: center;
   
  
}

.skills .content .box-skill{
            position: relative;
            text-align: left;
            width:85%;
            padding: 30px;
            background-color:#f0f5f5;
            font-size: 15px;
            border-radius: 15px;
            margin-top: 2%;
            left:100px;  
            
        }

#skill-section2{
    
    padding-left: 25px;
}

*{
            box-sizing: border-box;
        }

.container{
            width: 100%;
            background-color: #ddd;
            border-radius: 15px; 

        }

.skill{
            text-align:right;
            padding: 10px;
            color: black;
            border-radius: 15px;
            height: 35px;
            margin-bottom: 2%;
            
        }
    
.html{
            width: 80%;
            background-color:#DAA520;
            border-radius: 15px;
            text-align:right;
            animation: html 2s;
           
        }

.js{
            width:50%;
            background-color:#DAA520;
             border-radius: 15px;
             text-align:right;
             animation: js 2s;
        }
    
.php{
            width:60%;
            background-color:#DAA520;
            border-radius: 15px;
             text-align:right;
            animation: php 2s;
        }
.wordpress{
            width:50%;
            background-color:#DAA520;
            border-radius: 15px;
            text-align:right;
            animation: wordpress 2s;
        }

.java{
             width:60%;
             background-color:#DAA520;
             border-radius: 15px;
             text-align:right;
             animation: java 2s;   
}

.illustator{
            
             width:70%;
             background-color:#DAA520;
             border-radius: 15px;
             text-align:right;
             animation: illustator 2s;
    
}
 
.photoshop{
        
             width:50%;
             background-color:#DAA520;
             border-radius: 15px;
             text-align:right;
             animation: photoshop 2s;
    
}

.ui{
       
             width:40%;
             background-color:#DAA520;
             border-radius: 15px;
             text-align:right;
             animation: ui 2s;
    
}
 @keyframes html{
            0%{
                width: 0;
            }
            100%{
                  width: 80%;
            }
        }
        
@keyframes js{
            0%{
                width: 0;
            }
            100%{
                   width:50%;
            }
        }
        
@keyframes php{
            0%{
                width: 0;
            }
            100%{
                  width:60%;
            }
        }
        
@keyframes wordpress{
            0%{
                width: 0;
            }
            100%{
                 width:50%;
            }
        }

@keyframes java{
            0%{
                width: 0;
            }
            100%{
                 width:60%;
            }
        }

@keyframes illustator{
            0%{
                width: 0;
            }
            100%{
                 width:70%;
            }
        }

@keyframes photoshop{
            0%{
                width: 0;
            }
            100%{
                 width:50%;
            }
        }

@keyframes ui{
            0%{
                width: 0;
            }
            100%{
                 width:40%;
            }
        }
        

.portfolio .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top:5px;
    width: 100%;
}
        
.box{
            width: 320px;
            overflow: hidden;
            border-radius: 15px;
            cursor: pointer; 
            margin-left: 30%;
           
        }
        
.slid-img{
            height: 510px;
            position: relative;
        }
        
.slid-img img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-sizing: border-box;
            
        }
.over{
            position: absolute;
            left: 0;
            bottom: 0;
            width:100%;
            height: 0;
            background-color:#F0F8FF; 
            text-align: center;
            justify-content: center;
            align-items: center;
            opacity: 0.9;
            transition: 0.5s;
           
        }
   
.box:hover{
          border: 2px solid #FFFFFF;
          opacity: 0.8;
     }

.box:hover .over{
          height: 15%;
            display: flex;
       }
        
.box2{
            width:450px;
            overflow: hidden;
            border-radius: 15px;
            cursor: pointer;
            margin-bottom: 2%;
        }

.slid-img2{
            height: 250px;
            position: relative;
        }

 .slid-img2 img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-sizing: border-box;
            
        }
        
.box2:hover{
           border: 2px solid #FFFFFF;
           opacity: 0.8;
     }

.box2:hover .over{
          height: 30%;
          display: flex;
       }

.box3{
            width:450px;
            overflow: hidden;
            border-radius: 15px;
            cursor: pointer;
            
        }
             
.box3:hover{
         border: 2px solid #FFFFFF;
         opacity: 0.8;
          }
 

.box3:hover .over{
          height: 30%;
           display: flex;
       }

.box4{
            width:300px;
            overflow: hidden;
            border-radius: 15px;
            cursor: pointer;
            margin-bottom: 2%;
        }
        
.box4:hover{
          border: 2px solid #FFFFFF;
          opacity: 0.8;
     }
.slid-img3{
            height: 250px; 
            position: relative;
        }
.slid-img3 img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-sizing: border-box;
        }

.box4:hover .over{
          height: 30%;
          display: flex;
       }
        
.box5{
            width:300px;
            overflow: hidden;
            cursor: pointer;
            border-radius: 15px;
            
        }
     
.box5:hover{
         border: 2px solid #FFFFFF;
         opacity: 0.8;  
    }
     

.box5:hover .over{
          height: 30%;
          display: flex;
       }
  
.rowPortfolio{
  column-count: 3;
  margin:0 auto;
  flex-wrap:wrap;
  max-width: 110%; 
}

@media screen and (max-width:840px){
    .rowPortfolio{
        column-count: 2;
    }
    
.box{
            width: 300px;
            overflow: hidden;
            border-radius: 15px;
            cursor: pointer; 
            margin-left: 2%;
            margin-bottom: 2%;
        }
        
.slid-img{
            height: 300px;
            position: relative;
        }
 
.box:hover .over{
            height: 30%;
            display: flex;
       }
.box2{
            width:300px;
            overflow: hidden;
            border-radius: 15px;
            cursor: pointer;
            margin-bottom: 2%;
        }
.slid-img2{
            height: 300px;
            position: relative;
        }

        
 .box3{
            width:300px;
            overflow: hidden;
            border-radius: 15px;
            cursor: pointer;
            margin-bottom: 2%;
            
        }

 .slid-img3{
            height: 300px;
            position: relative;
        }


.box4{
            width:300px;
            overflow: hidden;
            border-radius: 15px;
            cursor: pointer;
            margin-bottom: 2%;
        }
        

.slid-img4{
            height: 300px; 
            position: relative;
        }



.box5{
            width:300px;
            overflow: hidden;
            cursor: pointer;
            border-radius: 15px;
            
        }
    
.slid-img5{
            height: 300px;
            position: relative;
        }


}
@media screen and (max-width:575px){
    .rowPortfolio{
        column-count: 1;
    }
}

.experience .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 30px;
}

.experience .content .experience-box{
    width: 520px;
    margin: 10px;
    border: 15px solid #fff;
    box-shadow: 0 5px 34px rgba(0,0,0,0.08);
    border-radius: 5px;

}

.experience .content .experience-box .text h3{
    font-weight: 500;
    background-color:#f3f3f3; 
    color: #111;
    width: 100%;
    padding: 20px 15px 25px; 
    line-height: 30px;
}

.experience .content .experience-box  .text h3 img{
    float: right;
    width: 50px; 
    height:50px;  
}

.experience .content .experience-box  .text h3 p{
   font-size: 15px;
   color: darkgray;
   font-family: Arial, sans-serif;
}

.experience .content .experience-box .textBx{
    position: relative;
    width: 100%;
    padding: 15px 15px 20px;
    font-family: Arial, sans-serif;
}
    
.services .content{
    display:flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.services .content .box{
    width: 150px;
    margin:25px;
}

.services .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 150px;
}


.services .content .box .imgBx img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.services .content .box .text{
    padding: 15px 0 5px;
    align-items: center;
}

.services .content .box .text h3{
  font-weight: 600;
  color: #111;
  font-family: Gill Sans, sans-serif;
  text-align: center;
}

.contactForm{
    padding: 35px 40px;
    background-color:#F0F8FF;
    box-shadow: 0 5px 34px rgba(0,0,0,0.1);
    max-width: 600px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 15px;
    margin-left: 120px;
}

.contactForm h3{
    color: #111;
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactForm .inputBox input ,
.contactForm .inputBox textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    background: #f0f5f5;
    resize: none;
}

.inputBox input:focus{
     background-color: #f5f5f0;
    outline: none;
}

.inputBox textarea:focus{
    background-color: #f5f5f0;
    outline: none;
}

.contactForm .inputBox input[type="submit"]{
    font-size: 1em;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    background-color: #008B8B;
    border-radius: 15px;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100%;
    font-weight: 500;
    border: none;
    cursor: pointer;
   
}

.contactForm .inputBox input[type="submit"]:hover{
    opacity:0.8;
}

.txet-contact{
    height: auto;
    padding: 20px;
    color: black;
    width: 450px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 25px;
    
}

.txet-contact h3{
     color: #111;
     font-size: 25px;
     margin-bottom: 25px;
    
}

.footer{
       background-color:#f0f5f5;
       overflow: hidden;
       text-align: center;
       bottom:0;
       left:0;
       padding:10px;
       width:100%; 
       height: 40%;
       position: relative;          
}

.footer h3{
    font-size: 20px;
    margin-top: 2%;
    font-weight: 500;
    letter-spacing: 2px;
   
}

.fa{

    font-size:20px;
    width:30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin-left: 3px;
    padding: 2px 2px 2px;
    margin-top: 5px;
}

.fa-whatsapp{
    background-color:none;
    color: #20B2AA;

   
}

.fa-whatsapp:hover{
    color: #075e54;
   
   
}
 
.fa-linkedin{

   background-color: none;
    color:#20B2AA;
}

.fa-linkedin:hover{
    color:#0e76a8;
}

.fa-github{
    
    background-color:none;
    color:#20B2AA;
}

.fa-github:hover{
    color:#333;
}
 
#btnscorll{
            background-color: #008B8B;
            color: white;
            padding: 10px;
            border:1 soild black;
            position:absolute;
            cursor: pointer;
            width: 50px;
            height: 50px;
            font-family: Gill Sans, sans-serif;
            border-radius: 50px;
            bottom: 7%;
            right:30px;
            text-align: center;
             
             
        }

#btnscorll:hover{
            opacity: 0.8;
           
        }

@media (max-width:991px){

.menuIcon{
        display: block;
    }

.menuIcon.active .bar:nth-child(2){
       opacity: 0; 
    }
.menuIcon.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
    }
.menuIcon.active .bar:nth-child(3){
       transform: translateY(-8px) rotate(-45deg);
    }
       
.nav-menu{
      position: fixed;
      right: -100%;
      top:0px;
      gap:0px;
      flex-direction: column;
      background-color:#F8F8FF;  
      box-shadow: 0 5px 34px rgba(0,0,0,0.2);
      width: 65%;
      height: 100%;
      transition: 0.6s;
      opacity: 0.98;
      padding: 28%;
      
    }
 
.nav-item{
      position: relative;
      text-align: left;
      top:0;
      right:20%;
      
    }
      
.nav-menu.active{
     right: 0;
    }

section{
    padding: 20px;
}

.row{
    flex-direction: column;
}
    
.row .colum{
    position: relative;
    width: 100%;
}
    
.row .colum .imgBox{
     width:100%; 
     opacity: 0.15;
     margin-left: 0;
}
    
.row .colum .top-section-txet {
   min-height: 750px;
   width: 330px;
   font-size: 20px;
   line-height: 30px;
   margin-left: 5px;
   position:absolute;
   text-align: center;
   left: 12px;
    
}
  
.row .colum .box-text{
   
    margin-left: 2px;
    min-height:30%;
    width: 350px;
    font-size: 17px;
    padding:25px;


}

table{
      line-height: 15px;  
      border-collapse: separate;
      border-spacing: 10 20px;
      
        }
    
table .td3{
           line-height:0px;    
    }
    
.title{
    text-align: center;
    font-size: 15px;
    padding:25px;
}
    
.titleText{
    color: #111;
    font-size: 1.8em;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 0px; 
     
}
    
.skills .titleText{
         line-height: .5em;
         margin-top:0%;
    }

.skills .content .box-skill{
            margin-top: 3%;
            left: 7%; 
        }

#skill-section2{
        padding-left: 0px;
    }

.services  .title{
    text-align: center;
    font-size: 15px;

    }
.services .content{
    margin-top: 5px;
}

.contactForm{
    margin-left: 10px;
}
    
 .txet-contact h3{
     font-size: 22px;
}
    
.txet-contact{
    height: auto;
    padding: 10px;
    color: black;
    width: 360px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 1px;
    
}

#btnscorll{
    bottom: 0%;
    right:.2px;
    width: 45px;
    height: 45px;
              
        }
    
}










